---
layout: default
title: Home
permalink: /
---

{% include aside-events.html %}

<article class='blurb'>
  <p>SynerGIS is a community of GIS professionals, managers, researchers, and students from Ithaca, NY
    and the surrounding area.  We hold almost-monthly meetings that are open to anyone interested
    in learning more about GIS and all things geospatial.  <a href='/about/'>More about us...</a></p>
</article>

{% for event in site.categories.events limit: 5 %}
  <article class='event'>
    <h2>{{ event.title }}</h2>
    <div class='when'><b>When:</b> {{ event.date | date: '%B %d, %Y' }}, {{ event.time }}</div>
    {% if event.address %}
      <div class='where'><b>Where:</b> <a href='https://www.google.com/maps/place/{{ event.address }}'>{{ event.location }}</a></div>
    {% elsif event.location %}
      <div class='where'><b>Where:</b> {{ event.location }}</div>
    {% endif %}
    <div class='notes'>{{ event.notes }}</div>
    <div class='entry'>{{ event.content }}</div>
  </article>
{% endfor %}

