/* reset */
html, body, header, footer, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0 ; padding: 0 ; border: 0 ; font-size: 100% ; font: inherit ; vertical-align: baseline }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
body { line-height: 1 }
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote: before, blockquote: after, q: before, q: after { content: '' ; content: none }
table { border-collapse: collapse ; border-spacing: 0 }


/* basic styles */
body { font-family: Arial, sans-serif }
blockquote { margin: 0.5 0 ; padding: 0.5em ; border: 1px solid #ddd ; background: #eee ; border-radius: 5px }
blockquote blockquote { border: 1px solid #ccd ; background: #dde }
blockquote blockquote blockquote { border: 1px solid #cdc ; background: #ded }
code { font-family: "Lucida Console", monospace }
em, i { font-style: italic }
strong, b { font-weight: bold }
h1,h2,h3,h4,h5,h6 { font-weight: bold ; padding: 0 ; margin: 1em 0 0.5em }
h1 { font-size: 125% }
h2 { font-size: 115% }
h3 { font-size: 110% }
h4 { font-size: 108% }
h5 { font-size: 105% }
h6 { font-size: 100% }
hr { margin: 1em 0 }
img { border: 0 }
input,textarea,select { font-family: Arial, sans-serif ; font-size: 100% ; margin: 0 ; border: 2px inset }
input,textarea { padding: 1px 2px }
p { margin: 1em 0 }
pre { margin: 0.5em ; padding: 0.5em ; border: 1px solid #ddd ; background: #f8f8ee ; border-radius: 5px }
code { color: #840 ; font-size: 85% }
td, th { vertical-align: top }
th { font-weight: bold ; text-align: right }
ul { margin: 0 0 1em ; list-style-type: disc ; padding: 0 0 0 1em }
ol { margin: 0 0 1em ; list-style-type: decimal ; padding: 0 0 0 1em }
dl { margin: 0 0 1em ; list-style-type: disc ; padding: 0 0 0 1em }
dd { margin: 0 0 1em 1em }



/* Synergis */

html {
    xbackground: url('images/IthacaHillshade1024x784.jpg') no-repeat center center fixed;
    xbackground-size: cover;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:focus {
    text-decoration: underline;
}

header {
    padding: 1em;
    background-color: #241;
    color: #fff;
}

header a {
    color: #fff;
    font-size: 200%;
    margin-right: 0.5em;
}

nav {
    background: #120;
    padding: 12px 0;
}

nav a {
    color: #fff;
    padding: 8px 1em;
}

nav a:hover {
    background: #352;
    text-decoration: none;
}

#main {
    position: relative;
    background: url(images/IthacaHillshade1024x784.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 400px;
}

#main a,
#main a:visited {
    color: #362;
}
#main hr {
    clear: both;
    margin: 0;
    opacity: 0;
}

article {
    float:left;
    width: 62%;
    margin: 12px 1%;
    padding: 0.5em 1%;
    border-radius: 1em;
    background: #eec;
}

aside {
    float: right;
    width: 30%;
    margin: 12px 1%;
    padding: 0.5em 1%;
    border-radius: 1em;
    background: #cba;
}
aside li {
    margin: 0.5em;
}

footer {
    clear: both;
    padding: 1em;
    background-color: #241;
    color: #fff;
}

footer a {
    color: #fff;
}




div.notes {
    font-style: italic
}

div.person img {
    float:left;
    margin:0 1em 1em 0;
    max-height:240px;
}

div.blank {
    background: #fff;
    xheight: 100%;
}
