/* reset */
html, body, header, footer, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0 ; padding:0 ; border:0 ; font-size:100% ; font:inherit ; vertical-align:baseline }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block }
body { line-height:1 }
ol, ul { list-style:none }
blockquote, q { quotes:none }
blockquote:before, blockquote:after, q:before, q:after { content:'' ; content:none }
table { border-collapse:collapse ; border-spacing:0 }


/* basic stuff */
a { color:#00c ; text-decoration:none }
a:hover, a:focus { text-decoration:underline }
a:visited { color:#60a }
body { font-family:Arial, sans-serif }
blockquote { margin:0.5 0 ; padding:0.5em ; border:1px solid #ddd ; background:#eee ; border-radius:5px }
blockquote blockquote { border:1px solid #ccd ; background:#dde }
blockquote blockquote blockquote { border:1px solid #cdc ; background:#ded }
code { font-family:"Lucida Console", monospace }
em, i { font-style:italic }
strong, b { font-weight:bold }
h1,h2,h3,h4,h5,h6 { font-weight:bold ; padding:0 ; margin:1em 0 0.5em }
h1 { font-size:125% }
h2 { font-size:115% }
h3 { font-size:110% }
h4 { font-size:108% }
h5 { font-size:105% }
h6 { font-size:100% }
hr { margin:1em 0 }
img { border:0 }
input,textarea,select { font-family:Arial, sans-serif ; font-size:100% ; margin:0 ; border:2px inset }
input,textarea { padding:1px 2px }
p { margin:1em 0 }
pre { margin:0.5em ; padding:0.5em ; border:1px solid #ddd ; background:#f8f8ee ; border-radius:5px }
code { color:#840 ; font-size:85% }
td, th { vertical-align:top }
th { font-weight:bold ; text-align:right }
ul { margin:0 0 1em ; list-style-type:disc ; padding:0 0 0 1em }
ol { margin:0 0 1em ; list-style-type:decimal ; padding:0 0 0 1em }
dl { margin:0 0 1em ; list-style-type:disc ; padding:0 0 0 1em }
dd { margin:0 0 1em 1em }



/* Synergis */

h1 a { font-size:200% ; font-color:#fff ! important }

header { padding:1em ; background:#008 ; color:#fff }

div#main { position:relative ; min-height:400px }
div#content { padding:0.5em 1% ; background:#fff ; color:#000 ; width:63% }
aside { position:absolute ; right:0 ; top:0 ; width:30% ; margin:1em 1% ; padding:0.5em 2% ; background:#ccf ; border-radius:1em ; background:#ccf}
aside div.recent li { margin-top:0.5em }

footer { padding:1em 2% ; background:#008 ; color:#fff ; width:96% }

div.notes { font-style:italic }

