
      </section>

      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <p>Synergis is a group of GIS professionals, managers, researchers, and students from Ithaca, NY and the surrounding areas.  We hold almost-monthly meetings that are open to anyone interested in learning more about GIS and all things geospatial.</p>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </footer>

    </div>

    
  </body>
</html>

