<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/synergis.css" />
    <title>Synergis</title>
</head>

<body>
    <header>
        <a href='/'><img src='/images/SynergisLogo.png' alt='Synergis: the GIS user group for Ithaca NY and the surrounding area'></a>
    </header>

    <nav>
        <a href='/about'>About</a>
        <a href='/events'>All Events</a>
        <!--<a href='/people'>People</a>-->
        <!--<a href='https://groups.google.com/forum/#!forum/synergis'>E-mail list</a>-->
        <a href='http://www.nysgis.net/'>NYSGISA</a>
    </nav>

    <div id="main">

