---
layout: default
---

<div class="meeting-list">
    <ul class="meeting-sidebar">
    {% for meeting in site.categories.meetings %}
        <li><a {% if page.url == meeting.url %}class="active"{% endif %} href={{ meeting.url }}>{{ meeting.date | date: "%Y-%m-%d" }}</a></li>
    {% endfor %}
    </ul>
</div>

<div class="meeting">
    <h2>Synergis Meeting</h2>
    <div class="when">When: {{ page.date }}, {{ page.time }}</div>
    <div class="where">Where: {{ page.location }} (<a href='https://www.google.com/maps/place/{{ page.address }}'>map</a></div>
    <div class="notes">{{ page.notes }}</div>
    <div class="entry">{{ content }}</div>
</div>

